.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto; */
  /* grid-template-columns: auto 80% auto; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-columns: 2fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(5, 20%); */
  grid-template-columns: 3fr repeat(3, 1fr);
  /* row-gap: 50px;
  column-gap: 50px; */
  gap: 10px;
  /* justify-items: center; */
  /* align-items: center; */
  /* height: 500px; */
}

.grid-item {
  background-color: aqua;
}
