.woods {
  height: 400px;
  width: 400px;
  animation: grow 4s ease infinite;
}

@keyframes grow {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  100% {
    transform: translate(192px, 192px) scale(2);
  }
}
