.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  animation: changeColor 5s ease-in infinite;
  animation-direction: alternate;
}

@keyframes changeColor {
  0% {
    background-color: blue;
  }

  50% {
    background-color: red;
  }
  100% {
    background-color: blue;
  }
}
