.btn {
  background-color: green;
  color: blue;
}

@media (min-width: 576px) {
  .btn {
    border-radius: 15px;
  }
}

@media (min-width: 768px) {
  .btn {
    background-color: blueviolet;
    color: white;
  }
}

@media (min-width: 992px) {
  .btn {
    display: none;
  }
}
